# Dependency directories
node_modules/
jspm_packages/

#db sql
db.sqlite3

# Python
*.py[cod]
*.$py.class

# VS Code
*.vscode
**/.vscode/

# Python virtualenv
.venv/
.env/
/.env

# Django
*.log
*.pot
*.pyc
*__pycache__
# *media
*.DS_Store

# Backup Files
*.bak

# static files
# TODO: add static files
