-i https://pypi.org/simple
anyascii==0.3.2; python_version >= '3.3'
asgiref==3.7.2; python_version >= '3.7'
astroid==3.0.2; python_full_version >= '3.8.0'
beautifulsoup4==4.11.2; python_full_version >= '3.6.0'
black==23.12.1; python_version >= '3.8'
botocore==1.34.34; python_version >= '3.8'
certifi==2023.11.17; python_version >= '3.6'
cfgv==3.4.0; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
cssbeautifier==1.14.11
decorator==5.1.1; python_version >= '3.5'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
dill==0.3.7; python_version >= '3.7'
distlib==0.3.8
django==4.2.9; python_version >= '3.8'
django-cors-headers==4.3.1; python_version >= '3.8'
django-filter==23.5; python_version >= '3.7'
django-modelcluster==6.1; python_version >= '3.8'
django-permissionedforms==0.1; python_version >= '3.7'
django-taggit==4.0.0; python_version >= '3.6'
django-treebeard==4.7; python_version >= '3.8'
djangorestframework==3.14.0; python_version >= '3.6'
djlint==1.34.1; python_full_version >= '3.8.0' and python_full_version < '4.0.0'
draftjs-exporter==2.1.7
editorconfig==0.12.3
environ==1.0
et-xmlfile==1.1.0; python_version >= '3.6'
filelock==3.13.1; python_version >= '3.8'
filetype==1.2.0
flake8==6.1.0; python_full_version >= '3.8.1'
future==0.18.3; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
geocoder==1.38.1
gunicorn==21.2.0; python_version >= '3.5'
html-tag-names==0.1.2; python_version >= '3.7' and python_version < '4.0'
html-void-elements==0.1.0; python_version >= '3.7' and python_version < '4.0'
html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
identify==2.5.33; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
isort==5.13.2; python_full_version >= '3.8.0'
jmespath==1.0.1; python_version >= '3.7'
jsbeautifier==1.14.11
json5==0.9.14
l18n==2021.3
markdown==3.5.1; python_version >= '3.8'
mccabe==0.7.0; python_version >= '3.6'
mypy-extensions==1.0.0; python_version >= '3.5'
nodeenv==1.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
openpyxl==3.1.2; python_version >= '3.6'
packaging==23.2; python_version >= '3.7'
pathspec==0.12.1; python_version >= '3.8'
pillow==10.2.0; python_version >= '3.8'
pillow-heif==0.14.0; python_version >= '3.8'
pipenv==2023.12.0; python_version >= '3.8'
platformdirs==4.1.0; python_version >= '3.8'
pre-commit==3.5.0; python_version >= '3.8'
psycopg==3.1.16; python_version >= '3.7'
psycopg2==2.9.9; python_version >= '3.7'
psycopg2-binary==2.9.9; python_version >= '3.7'
pycodestyle==2.11.1; python_version >= '3.8'
pyflakes==3.1.0; python_version >= '3.8'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-environ==0.4.54
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
ratelim==0.1.6
regex==2023.12.25; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
s3transfer==0.10.0; python_version >= '3.8'
setuptools==69.0.3; python_version >= '3.8'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
soupsieve==2.5; python_version >= '3.8'
sqlparse==0.4.4; python_version >= '3.5'
telepath==0.3.1; python_version >= '3.8'
tomlkit==0.12.3; python_version >= '3.7'
tqdm==4.66.1; python_version >= '3.7'
typing-extensions==4.9.0; python_version >= '3.8'
urllib3==2.0.7; python_version >= '3.7'
virtualenv==20.25.0; python_version >= '3.7'
wagtail==5.2.2; python_version >= '3.8'
webencodings==0.5.1
willow[heif]==1.6.3; python_version >= '3.8'
